<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Other Issues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img src="assets/data/other_1.png"></ion-img>
    <ion-img src="assets/data/natural_1.png"></ion-img>
    <ion-img src="assets/data/natural_2.png"></ion-img>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button color="danger">
          SOS
        </ion-fab-button>
      </ion-fab>

</ion-content>
