<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Environmental Issues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <div class="card" *ngIf="lat">
        <div class="card-head">
          <ion-icon name="logo-android"></ion-icon> Device Information
        </div>
        <div class="card-body">
            Latitude:  <span class="bold"> {{ lat }} </span>  <br>
            Longitude:  <span class="bold"> {{ lon }} </span>
        </div>
      </div>

      <div class="card" *ngIf="uvData">
        <div class="card-head">
        <ion-icon name="ios-sunny"></ion-icon>	UV Index
        </div>
        <div class="card-body">
             <span class="bold"> {{ uvData.value }} </span>
        </div>
      </div>

      <div class="card" *ngIf="weatherData">
        <div class="card-head">
          <ion-icon name="ios-cloudy"></ion-icon> Weather
        </div>
        <div class="card-body">

            Weather: <span class="bold"> {{ weatherData.weather[0].main }} </span> <br>
            Cloudiness:  <span class="bold"> {{ weatherData.clouds.all }}% </span>   <br>
            Humidity:  <span class="bold"> {{ weatherData.main.humidity }}% </span>   <br>
            Pressure:  <span class="bold"> {{ weatherData.main.pressure }} hPa </span>   <br>
            Temperature:  <span class="bold"> {{ weatherData.main.temp - 273 }}C </span>   <br>
            Wind Speed:  <span class="bold"> {{ weatherData.wind.speed }} M/S </span>   <br>
            Wind Angle:  <span class="bold"> {{ weatherData.wind.deg }} Deg </span>   <br>

        </div>
      </div>


        <div class="card" *ngIf="airData">
        <div class="card-head">
         <ion-icon name="ios-medical"></ion-icon>	Air
        </div>
        <div class="card-body">


          Area Quality:  <span class="bold"> {{ airData.breezometer_description }}  </span>  <Br>
          Area Air Quality Index:  <span class="bold"> {{ airData.breezometer_aqi }}/100 [micrograms per cubic meter] (Good to Bad)  </span>  <br>
          Country Quality:  <span class="bold"> {{ airData.country_description }}  </span>  <br>
          Country Air Quality Index:  <span class="bold"> {{ airData.country_aqi }}/500 [micrograms per cubic meter] (Good to Bad)  </span>  <Br>

          <br><Br>

           <span class="bold"> Cause Of Pollution </span>  <Br>
          {{ airData.dominant_pollutant_text.causes }}

          <br><Br>
           <span class="bold"> Effects Of Pollution </span> <br>
          {{ airData.dominant_pollutant_text.effects }}

          <br><Br>
           <span class="bold"> Main Pollutant </span> <Br>
          {{ airData.dominant_pollutant_text.main }}

        </div>
      </div>

        <div class="card">
          <div class="card-head">
             <ion-icon name="ios-nuclear"></ion-icon>	Harmful Algal Blooms (HABs) Area
          </div>
          <div class="card-body">
            India:
            <Br><Br>
              <ul>
                <li>Kochi Beach</li>
                <li>Gujarat Coast</li>
                <li>Mumbai Beach</li>
                <li>Hyderabad Beach</li>
              </ul>

            <br><BR>
            <i> 15% increase in HABs in last 12 years in India. </i>
          </div>
        </div>

      <div class="card" *ngIf="airData">
        <div class="card-head">
          <ion-icon name="alert"></ion-icon> Recommendations
        </div>
        <div class="card-body">

            <span class="bold"> Children </span>  <Br>
          {{ airData.random_recommendations.children }}

          <br><Br>
           <span class="bold"> Sport </span> <br>
          {{ airData.random_recommendations.sport }}

          <br><Br>
           <span class="bold"> health </span> <Br>
          {{ airData.random_recommendations.health }}

          <br><Br>
           <span class="bold"> inside </span> <Br>
          {{ airData.random_recommendations.inside }}

        <br><Br>
           <span class="bold"> outside </span> <Br>
          {{ airData.random_recommendations.outside }}


        </div>
      </div>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
          <ion-fab-button color="danger">
            SOS
          </ion-fab-button>
        </ion-fab>

</ion-content>
