<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="sonu">
  </div>

<h1>SuperNova</h1>

Supernova-2 is meant to analyze and display data to improve public understanding of our home planet to be safe.

<b>Feature</b><br>
What are the safety parameters Supernova will track?<br>
<b><u>Health Issues</u></b><br>
You can track possible health issues all over the world or in your area. Following are some things you can track under it.<br>

<ul><b><li>Mosquito occurrence</li></b><br>
<b><li>Zika virus fever</b><br>
<b><li>AIDS/HIV areas.</b><br>
<b><li>Other Diseases</b><br>
  </ul>
<b><u><li>Environmental Issues</u></b><br>

Knowing about the environmental factors, which can affect your health can also be analyzed. Following are some things you can track under it.<br>
<ul>
<b><li>UV Index</b><br>
<b><li>Weather</b><br>
<b><li>Cloudiness</b><br>
<b><li>Humidity</b><br>
<b><li>temperature</b><br>
<b><li>wind speed</b><br>
<b><li>wind angle</b><br>
</ul>
<b><u>Natural disaster</u></b><br>
You can see the forecast of following:<br>
<ul>
<b><li>Earthquake</b><br>
<b><li>Cyclone</b><br>
<b><li>Tsunami</b><br>
<b><li>Flood</b><br>
<b><li>Hurricanes/Tornadoes</b><br>
<b><li>Thunderstorm</b><br>
<b><li>Volcanic eruptions</b><br>
<b><li>Droughts</b><br>
</ul>
<u><b>Other Information</b></u><br>
<ul>
<b><li>Crime Rate</b><br>
<b><li>Theft Rate</b><br>
</ul>
other usefull information<br>
How will supernova help me in an emergency?<br>
<b>Alert Your Family</b><br>
Once click SMS/Email alert to your families. This alert will send your location and other detials, which will make it easy to help you.<br>

<u>Help Near Me</u><br>
You can look for following things near you:<br>
<ul>
<b><li>Police Stations</b><br>
<b><li>Hospitals</b><br>
<b><li>Public Toilet</b><br>
<b><li>Medical Stores</b><br>
<b><li>Fire Station</b><br>
</ul>
<b>What other features Supernova have?</b><br>
<b>Accident Detection</b><br>
Using information from <b>gyroscope, accelerometer, linear acceleration, rotation vetor and other sensors</b>, Supernova can detect accidents, and can automatically inform your emergency contact about it.<br>
How is it different from other apps?<br>
Supernova use graphics/images/graphs etc to display the information, which makes it easy to absorb the information. It also use AI and ML for various features. Supernova also serves as a public informer, so you keep getting important feeds on your dashboard<br>.
<br>
<br>
<br>
<br>
<br>
<h5>created by:Raman Tehlan</h5><br>
<h5>Sonu Husain</h5><br>
<h5>Noel Jhonsan</h5><br>
<h5>Abhishek Malviya</h5><br>
<div id="hello">

</div>
</ion-content>
