<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-avatar class="img" slot="start">
        <ion-img src="assets/0.jpg"></ion-img>
        </ion-avatar>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Mobile Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      
    <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
  </ion-list>
      <br>
      <h3>Emergency Contact</h3>
      <br>
      <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="assets/1.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Rahul Singh</h2>
              <h3>Brother</h3>
              <p>9895147846 | aiwuo@gmail.com</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/2.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Nikhil</h2>
                <h3>Brother</h3>
                <p>9895923566 | yoei@gmail.com</p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="assets/3.jpg"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Ritu</h2>
                  <h3>Mother</h3>
                  <p>7529792040 | eighy@gmail.com</p>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-img src="assets/4.jpg"></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <h2>Anil</h2>
                    <h3>Father</h3>
                    <p>6524696378 | yiuiiyei@gmail.com</p>
                  </ion-label>
                </ion-item>
              </ion-list>

</ion-content>
