<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-label><b>Accident Detection</b></ion-label>
                <ion-toggle  checked="true"></ion-toggle>
              </ion-item>
        </ion-card-header>
        <ion-card-content>
            <b> GyroScope </b>
            <Br><BR>
            x: 0.00 rad/s
            x: 0.00 rad/s
            x: 0.00 rad/s

            <br><br><br>
            <b> Accelerometer </b>
            <Br><BR>
            x: 0.00 m/s2
            x: 0.00 m/s2
            x: 0.00 m/s2

            <br><br><br>
            <b> Linear Acceleration </b>
            <Br><BR>
            x: 0.00 m/s2
            x: 0.00 m/s2
            x: 0.00 m/s2

            <br><br><br>
            <b> Rotation Vetor  </b>
            <Br><BR>
            x: 0.00
            x: 0.00
            x: 0.00

            <br><br><br>
            <b> Orientation </b>
            <Br><BR>
            Pitch: 0.00 m/s2
            Roll: 0.00 m/s2
            Azimuth: 0.00 m/s2
        </ion-card-content>
      </ion-card>

      <br>

      <ion-card>
          <ion-card-header>
              <ion-item>
                  <ion-label><b>Near Me</b></ion-label>
                  <ion-toggle  checked="true"></ion-toggle>
                </ion-item>
          </ion-card-header>
          <ion-card-content>

                <ion-item>
                  <ion-label>Police Stations - <i>2 within 3KM</i></ion-label>
                </ion-item>

                <ion-item>
                  <ion-label>Hospitals - <i>1 within 7KM</i></ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Public Toilet - <i>5 within 2KM</i></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Medical Stores - <i>7 within 5KM</i></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Fire Station< - <i>3 within 2KM</i></ion-label>
                      </ion-item>


          </ion-card-content>
        </ion-card>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button color="danger">
          SOS
        </ion-fab-button>
      </ion-fab>



</ion-content>
